<form class="make-question" action="/surveys/<%= survey.id %>/questions" method="POST">
  <div class="question-maker">
    <p><input type= "text" name="content" placeholder="Your Question Here" /></p>
    <p><textarea name="possibilities" rows="5" cols="50" placeholder="Your multiple choices here separated by a comma. Ex: Blue, Green, Red"></textarea></p>
    <input type="radio" name="done" value="Next">Make next question.
    <input type="radio" name="done" value="Done">Done. Finish my survey.
    <input type="submit" value="Submit">
  </div>
</form>
<% if defined?(errors) %>
<ul>
  <% errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>
