<h2>Create an account!</h2>

<form method="POST" action="/users">
  <span>
    <input type="text" placeholder="username" name="username" />
    <input type="password" placeholder="password" name="password_hash" />
  </span>
  <span>
    <select name="race">
      <option value="asian">Asian/Pacific Islander</option>
      <option value="black">Black or African American</option>
      <option value="indian">Native American or Alaskan Native</option>
      <option value="white">White</option>
      <option value="hispanic">Hispanic</option>
    </select>
    <select name="sex">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <select name="religion">
      <option value="christian">Christian</option>
      <option value="jewish">Jewish</option>
      <option value="muslim">Muslim</option>
      <option value="buddhist">Buddhist</option>
      <option value="hindu">Hindu</option>
      <option value="other">Other/None</option>
    </select>
  </span>
  <input type="text" placeholder="age" name="age" />
  <input type="submit" />
</form>
