<h1>QUES-KONG IS HERE</h1>
<h3>Welcome</h3>
<p>Ques-Kong is an interactive web application where you can both create and take surveys of ANY kind. As a survey creator, you can view statistics of your customized surveys. As a survey taker, you get the good feeling of contributing to very important research.</p>
<h3>Get Started</h3>

<div class="container">
  <div class="landing-page-button"><a href = "/surveys">Take a Survey</a></div>
  <div class="landing-page-button"><a href = "/surveys/new">Make a Survey</a></div>
</div>
