<h1>Welcome to QUES KONG</h1>
<p>Ques Kong is an interactive web application where you can create and take surveys of ANY kind. As a survey creator, you can view statistics of your customized surveys. As a survey taker, you get the good feeling of contributing to very important research.</p>

<div class="front-page-container">
  <a href = "/surveys"><div class="landing-page-button">Take a Survey</div></a>
  <a class = "make-survey" href = "/surveys/new"><div class="landing-page-button">Make a Survey</div></a>
</div>
<div class="append-div"></div>
